<!DOCTYPE html>
<html lang="en">

<head>
  <script type="text/javascript" src="https://livejs.com/live.js"></script>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="">
    <div class="aHl"></div>
    <div id=":q2" tabindex="-1"></div>
    <div id=":r0" class="ii gt" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0.">
      <div id=":qv" class="a3s aiL msg8291301839952222898">
        <u></u>

        <div>
          <table  border="0" style="margin: 0 auto; width: 100%; max-width: 400px" cellspacing="0" cellpadding="0" 12
            align="center">
            <tbody>
              <tr>
                <td align="center" style="background: #fafbfb; padding: 0 10px">
                  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                    style="background-color: #fff">
                    <tbody >
                      <tr>
                        <td align="center" style="background: #fafbfb">
                          <img
                            src="https://ci4.googleusercontent.com/proxy/0KlAWuLFUt-ibWAsPDXgEOh1i3SvjCOlmbb2I_0npa0Z0xh3GjJv8q30Kg149ueyjdYFLzjtAnGsjE0s9lR6NfhnvlPFW7OoUD_whi5FpeQ6XAgVPsA=s0-d-e1-ft#https://assetscdn.paytm.com/images/catalog/wallet/Notify/spacer.png"
                            width="1" height="13" alt="" style="
                                display: block;
                                font-size: 0em;
                                border: 0px;
                              " class="CToWUd" />
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table  width="100%" align="center" bgcolor="#fff" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td align="center">
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td align="left" style="padding-left: 20px">
                                          <a href=""
                                            target="_blank"
                                            ><img src="https://i.ibb.co/Rc5jwD9/Untitled-2.png" width="140" class="CToWUd">
                                            
                                          </a>
                                        </td>
                                        <td align="right" valign="top">
                                          <a>
                                            <img
                                              src="https://i.ibb.co/wyP4S39/adw.png"
                                               width="120" class="CToWUd" />
                                          </a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td align="center"></td>
                              </tr>
                              <tr>
                                <td align="left" style="
                                      padding-left: 20px;
                                      font-family: 'Open Sans', sans-serif,
                                        arial;
                                      font-size: 20px;
                                      font-weight: 600;
                                      line-height: 26.5px;
                                      color: #222;
                                    ">
                                  OTP
                                </td>
                              </tr>
                              <tr>
                                <td style="height: 10px"></td>
                              </tr>
                              <tr>
                                <td>
                                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                      <tr>
                                        <td valign="top" height="26" style="
                                              text-align: left;
                                              color: #333333;
                                              font-size: 28px;
                                              line-height: 26px;
                                              padding: 0px 0px 0px 20px;
                                              font-family: 'Open Sans',
                                                sans-serif, arial;
                                              font-weight: normal;
                                            ">
                                          <font style="
                                                font-weight: bold;
                                                font-size: 32px;border: dotted 1px ;
                                                border-radius: 5px;
                                              ">no-opt-is-here </font>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td align="center" height="16"></td>
                              </tr>
                              <tr></tr>
                              <tr>
                                <td style="height: 20px"></td>
                              </tr>
                              <tr>
                                <td width="width: 100%;" style="
                                      font-size: 13px;
                                      font-weight: 600;
                                      color: #332421;
                                      padding: 0 20px 12px 20px;
                                    ">
                                  This OTP is only valid upto
                                  <a style="
                                        color: #410b00;
                                        text-decoration: none;
                                        font-size: 13px;
                                      ">100 sec</a>
                                  only.
                                </td>
                              </tr>
                              <tr>
                                <td style="height: 5px"></td>
                              </tr>
                              <tr></tr>
                              <tr>
                                <td style="height: 25px"></td>
                              </tr>
                              <tr>
                                <td align="left" style="
                                      padding-left: 20px;
                                      font-family: 'Open Sans', sans-serif,
                                        arial;
                                      font-size: 12px;
                                      font-weight: 400;
                                      line-height: 23px;
                                      color: #999999;
                                    ">
                                  Username
                                </td>
                              </tr>
                              <tr>
                                <td align="left" style="
                                      padding-left: 20px;
                                      font-family: 'Open Sans', sans-serif,
                                        arial;
                                      font-size: 15px;
                                      font-weight: 600;
                                      line-height: 23px;
                                      color: #222;
                                    ">
                                  username-is-here
                                </td>
                              </tr>
                              <tr>
                                <td style="height: 33px"></td>
                              </tr>
                              <tr>
                                <td style="
                                      font-size: 12px;
                                      color: #999999;
                                      line-height: 17px;
                                      padding-left: 20px;
                                    ">
                                  time-is-here
                                </td>
                              </tr>
                              <tr></tr>
                              <tr>
                                <td style="height: 25px"></td>
                              </tr>
                              <tr>
                                <td style="height: 1px; padding: 0 15px">
                                  <img
                                    src="https://ci4.googleusercontent.com/proxy/0KlAWuLFUt-ibWAsPDXgEOh1i3SvjCOlmbb2I_0npa0Z0xh3GjJv8q30Kg149ueyjdYFLzjtAnGsjE0s9lR6NfhnvlPFW7OoUD_whi5FpeQ6XAgVPsA=s0-d-e1-ft#https://assetscdn.paytm.com/images/catalog/wallet/Notify/spacer.png"
                                    alt="" style="
                                        display: block;
                                        width: 100%;
                                        height: 1px;
                                        border-bottom: 1px solid #f4f4f4;
                                      " class="CToWUd" />
                                </td>
                              </tr>

                              <tr>
                                <td style="height: 25px"></td>
                              </tr>
                              <tr>
                                <td style="
                                      font-size: 14px;
                                      color: #757575;
                                      text-align: left;
                                      padding: 0 15px 3px;
                                    ">
                                  For any assistance, please contact our
                                </td>
                              </tr>
                              <tr>
                                <td style="
                                      font-size: 14px;
                                      color: #757575;
                                      text-align: left;
                                      padding: 0 15px 28px;
                                      border-bottom: 1px solid #f4f4f4;
                                    ">
                                  Helpline at abc@gmail.com
                                </td>
                              </tr>
                              <tr>
                                <td style="
                                      background: url(https://i.ibb.co/7Smfm3t/ph.png)
                                        no-repeat;
                                      background-size: 152px 125px;
                                      background-position: right 17px;
                                      padding: 40px 0px;
                                    ">
                                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                      <tr>
                                        <td width="width: 72%;" style="
                                              font-size: 13px;
                                              font-weight: 600;
                                              color: #332421;
                                              padding: 0 0 12px 15px;
                                            ">
                                           &copy; Postgram
                                        </td>
                                        <td width="28%" align="right"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="
                      text-align: left;
                      background: #fafafa;
                      padding: 10px 15px 15px 15px;
                      color: #666666;
                      line-height: 16px;
                      font-size: 11px;
                      letter-spacing: 0.2px;
                    ">
                  Never Share your Card number, CVV, PIN, OTP, or Password
                  with anyone, even if the caller claims to be a bank
                  employee. Sharing these details can lead to unauthorised
                  access to your account.
                </td>
              </tr>
              <tr>
                <td align="center" bgcolor="#410b00" >
                  <img
                    src="https://ci4.googleusercontent.com/proxy/0KlAWuLFUt-ibWAsPDXgEOh1i3SvjCOlmbb2I_0npa0Z0xh3GjJv8q30Kg149ueyjdYFLzjtAnGsjE0s9lR6NfhnvlPFW7OoUD_whi5FpeQ6XAgVPsA=s0-d-e1-ft#https://assetscdn.paytm.com/images/catalog/wallet/Notify/spacer.png"
                    width="1" height="5" alt="" style="display: block; border: 0px" class="CToWUd" />
                </td>
              </tr>
              <tr>
                <td align="center" bgcolor="#332421">
                  <img
                    src="https://ci4.googleusercontent.com/proxy/0KlAWuLFUt-ibWAsPDXgEOh1i3SvjCOlmbb2I_0npa0Z0xh3GjJv8q30Kg149ueyjdYFLzjtAnGsjE0s9lR6NfhnvlPFW7OoUD_whi5FpeQ6XAgVPsA=s0-d-e1-ft#https://assetscdn.paytm.com/images/catalog/wallet/Notify/spacer.png"
                    width="1" height="5" alt="" style="display: block; border: 0px" class="CToWUd" />
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img
                    src="https://ci4.googleusercontent.com/proxy/0KlAWuLFUt-ibWAsPDXgEOh1i3SvjCOlmbb2I_0npa0Z0xh3GjJv8q30Kg149ueyjdYFLzjtAnGsjE0s9lR6NfhnvlPFW7OoUD_whi5FpeQ6XAgVPsA=s0-d-e1-ft#https://assetscdn.paytm.com/images/catalog/wallet/Notify/spacer.png"
                    width="10" height="10" alt="" style="display: block; border: 0px" class="CToWUd" />
                </td>
              </tr>
            </tbody>
          </table>
          <img
            src="https://ci4.googleusercontent.com/proxy/Fg6UMpGKidh_VSlm7L2F7h7YgP44uAhCBLoguafHdW0BTDNXXGXolEFCi0enXPXQon39W9_hYf_b9iBMshvkHZ50r8cHcilzFbsksO967FKCduwYtWl1xmcGsyzoHp-Htgg0C9KVDSYBGqTxG3lBmNweYVb55-8POFbS13PZImebCGkcDEGNL_Lm-RzQtdJ8BkqsLHTVSzCqxqY_Wx5pafVCpgURou_jwztqfzISuXmLidbrHozT8-6YhaHA3QvOd8_Shfgy2yFk4yP04ckdG6OvSSxPWUkWqzh07eOWwHThzkok4yvk3DDqPcvUNik0BSvLtCbGwwdfSllkMYFTmkCviz86vsw7jEvJ191PyRmpyngBoosb_01YLyqWJa8mwTOukUM=s0-d-e1-ft#http://email.paytm.com/wf/open?upn=TQwTPqJchySpq32Sg8Ha15vnhmXw5HtUXcLCZdaD7OLvcxoqXXNyNh2pxalk4zUAVDtUefOSRtEOer1XKVCRZpnJle9MVS0B0rw0h6JtcAFhL4As1oflt6aqHXLyToXHP4yvsvRCt1WvPFBTHYRrQGXCk782J04xGNv1RL6S0VWDPZUdWgEqys9HepO7tcoB312YkRCITEifzlhYFgQkMITN5x5CtzFI3Utzb1do1DE-3D"
            alt="" width="1" height="1" border="0" style="
                height: 1px !important;
                width: 1px !important;
                border-width: 0 !important;
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                margin-right: 0 !important;
                margin-left: 0 !important;
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                padding-right: 0 !important;
                padding-left: 0 !important;
              " class="CToWUd" />
        </div>
        <div class="yj6qo"></div>
        <div class="adL"></div>
      </div>
    </div>
    <div id=":ph" class="ii gt" style="display: none">
      <div id=":pg" class="a3s aiL"></div>
    </div>
    <div class="hi"></div>
  </div>
</body>

</html>